<!-- Open Graph extension -->
<meta property="og:type" content="wiki">

<!-- imageMapResizer -->
<script type="text/javascript" src="{{ '/assets/js/vendor/imageMapResizer.min.js' | absolute_url }}"></script>

<!-- lightbox -->
<link href="{{ '/assets/3pp/lightbox/css/lightbox.css' | absolute_url }}" rel="stylesheet" />
<script type="text/javascript" src="{{ '/assets/3pp/lightbox/js/lightbox-plus-jquery.js' | absolute_url }}"></script>

<!-- GuideChimp -->
<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/plugins/googleAnalytics.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.css">

<!-- Yandex.Metrika -->
{% include yandex-metrika.html %}

<!-- default canonical url -->
{% if page.canonical %}
  {% if page.canonical contains 'http' %}
    {% assign canonical = page.canonical %}
  {% else %}
    {% assign canonical = page.canonical | remove_first:'/' | replace:'index.html','' | prepend: site.baseurl | prepend: site.url %}
  {% endif %}
  <link rel="canonical" href="{{ canonical }}">
{% else %}
  {% assign canonical = page.url | remove_first:'/' | prepend: site.baseurl | prepend: site.url %}
  <link rel="canonical" href="{{ canonical }}">
{% endif %}
