<!-- Open Graph extension -->
<meta property="og:type" content="wiki">

<!-- imageMapResizer -->
<script type="text/javascript" src="{{ '/assets/js/vendor/imageMapResizer.min.js' | absolute_url }}"></script>

<!-- lightbox -->
<link href="{{ '/assets/3pp/lightbox/css/lightbox.css' | absolute_url }}" rel="stylesheet" />
<script type="text/javascript" src="{{ '/assets/3pp/lightbox/js/lightbox-plus-jquery.js' | absolute_url }}"></script>

<!-- GuideChimp -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@3/dist/guidechimp.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/guidechimp@3/dist/guidechimp.css"/>
<!-- GuideChimp Plugins -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@3/dist/plugins/licensing.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/guidechimp@3/dist/plugins/googleAnalytics.js"></script>

<!-- Yandex.Metrika -->
{% include yandex-metrika.html %}
