<!-- Open Graph extension -->
<meta property="og:type" content="wiki">

<!-- imageMapResizer -->
<script type="text/javascript" src="{{ '/assets/js/vendor/imageMapResizer.min.js' | absolute_url }}"></script>

<!-- lightbox -->
<link href="{{ '/assets/3pp/lightbox/css/lightbox.css' | absolute_url }}" rel="stylesheet" />
<script type="text/javascript" src="{{ '/assets/3pp/lightbox/js/lightbox-plus-jquery.js' | absolute_url }}"></script>

<!-- GuideChimp -->
<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/plugins/googleAnalytics.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/guidechimp@1/dist/guidechimp.min.css">

<!-- Yandex.Metrika -->
{% include yandex-metrika.html %}
